/* ترويسة الموقع */
header {
    background-color: #004d40;
    padding: 20px;
    text-align: center;
    color: white;
}

/* شريط التنقل */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00796b;
}

/* عناصر القائمة الأفقية */
.navbar li {
    float: right; /* الاتجاه من اليمين لليسار */
}

/* الروابط داخل القائمة */
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* التأثير عند المرور على العنصر */
.navbar li a:hover {
    background-color: #c0b283;
    color: #004d40;
    border-radius: 5px;
}

/* التنسيق في الشاشات الصغيرة */
@media screen and (max-width: 600px) {
    .navbar li {
        float: none;
        width: 100%;
    }
}
